/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: #009933 1px 0 10px;
}

.text-shadow-sm {
  text-shadow: #FFF 1px 0 10px;
}

.text-shadow-black-sm {
  text-shadow: #000 1px 0 35px;
}